.gcloudignore
.git/
.gitignore
.DS_Store

**/__pycache__/
**/*.py[cod]
*.log
*.sqlite
.env
.env.*
.venv/
venv/
env/
node_modules/
build/
dist/
tmp/
tests/
*.ipynb
assets/
datasets/
docs/

#!include:.gitignore